spring:
  datasource:
    url: jdbc:postgresql://db:5432/expense_manager
    username: expense
    password: expense
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
  flyway:
    enabled: true

server:
  port: 8080
